<section>
    <div class="row">
        <div class="col-md-6 text center">
            <h1 class="text-center">About Us</h1>
            <p>Western Hotel Supply is a leading supplier of brand identity products, uniforms, interior signage, marketing material and guest room supplies for the hospitality industry. Our PASSION is in producing products that our customers actually need, our COMMITMENT is to offer superior quality products at reasonable prices, and our MISSION is to provide the best customer service possible and exceed your expectations every time.</p>
            <br/>
            <p>Our focus is on procurement - made easy. Our friendly customer service staff is always informed of the latest specifications for your brand and is here to help you stay on top. And since we manufacture most of our products in-house, we have the ability to customize each product to meet your exact needs. Additionally, our innovative, easy to use online stores allow you to ship the most up-to-date products whenever it is convenient for you, 24/7/365. Our ultimate goal is to ensure that you spend less time sourcing supplies so you can spend more time growing your business. </p>
            <br/>
            <hr>
            <br/>

            <h1 class="text-center">Contact Us</h1>
            <p>Western Hotel Supply’s Customer Service Representatives are happy to assist you in finding what you need to help your property run smoothly. Call us - we are here to help!</p>
            <p>
                Monday-Thursday: 7am - 6pm CST<br/>
                Friday: 7am - 5pm CST
            </p>
            <p>
                P: 800-645-3856<br/>
                F: 605-229-2147<br/>
                E: <a href="mailto:customerservice@westernhotelsupply.com" target="_blank">customerservice@westernhotelsupply.com</a>
            </p>
        </div>
    </div>
</section>