<section>
    <h1>FAQs</h1>
    <p>
        <b>Where are you located?</b><br/>
        <em>Our headquarters are in Aberdeen, SD.</em>
    </p>
    <br/>
    <p>
        <b>Do you have a catalog?</b><br/>
        <em>We have printed catalogs for Choice, Wyndham, Vantage, and Best Western brands. A large number of our products can be found at westernhotelsupply.com. Please remember that most of our products are manufactured in-house and custom made to each customer’s needs. This means if you see something on our website that isn’t exactly what you’re looking for, let us know and we’ll most likely be able to provide you with customized options.</em>
    </p>
    <br/>
    <p>
        <b>How do we reach you on the phone?</b><br/>
        <em>Our Customer Service number is 1-800-645-3856. <br/>
            We are open M-TH 7am-6pm; FRI 7am-5pm CST.
        </em>
    </p>
    <br/>
    <p>
        <b>How do I return items?</b><br/>
        <em><a href="returns">See our returns page.</a></em>
    </p>
    <br/>
    <p>
        <b>Where do I enter my gift card/discount code?</b><br/>
        <em>You may enter in gift card/discount codes on the cart page.</em>
    </p><br/>
    <p>
        <b>How long will my order take to ship?</b><br/>
        <em>Turn-around times vary depending on what type of products you order. In general, you can expect your order to ship within the following time frame, based on order date or proof approval if required: </em>
        <small>
            In Stock Items: 1-2 Business Days<br/>
            Decorated Apparel: 8-10 Business Days<br/>
            Name Tags: 2-3 Business Day<br/>
            Custom Printed Items: 3-6 Business Days<br/>
            Interior Signage: 10-15 Business Days<br/>
            Promotional Products: 10-15 Business Days
        </small>
    </p><br/>
    <p>
        <b>What format do I submit my artwork in?</b><br/>
        <em>.pdf - Portable Document Format.</em><br>
        <small>Acceptable Alternatives:<br/>
            .ai - Adobe Illustrator<br/>
            .eps - Encapsulated PostScript<br/>
            .cdr - CorelDraw<br/>
            .psd - Adobe Photoshop<br/>
            .bmp - Windows BitMap<br/>
            .jpg - JPEG BitMap
        </small>
    </p><br/>
    <p>
        <b>How do I pay for my order?</b><br/>
        <em>Our standard form of payment is credit card. You may apply to be set up on net 30 credit terms by filling out a <a href="css/images/creditapplication_613.pdf" target="_blank">credit application</a></em>
    </p>
</section>