<section>
    <h1 class="text-center">Privacy & Security</h1>
    <h3>Privacy</h3>
    <p>First of all, thank you for stopping at westernhotelsupply.com!  At Western Hotel Supply, we are committed to protecting your privacy. The following document (and yes, we realize this is a long one) explains how we collect and use your information on our website. It also talks about how, under certain conditions, we disclose this information.
    </p>
    <p>We’ll also explain how we secure your personal data as well as your options when it comes to the collection and use of this information. By visiting westernhotelsupply.com, you automatically accept the terms and conditions described in this Policy.
    </p>
    <p>If you have questions or concerns about your data, please call our Customer Service team at 800-645-3856.</p>
    <h3>Information collection and use:</h3>
    <p>Western Hotel Supply collects information to provide a high level of customer service and order tracking. Our goal is to create a friendly and easy to use website that allows you to shop without having to tediously re-enter personal data. Please keep in mind that you may visit our site anonymously.</p>
    <h3>Three main ways Western Hotel Supply uses your information:</h3>
    <ul>
        <li>Retain your personal information allowing for easier log in access</li>
        <li>Provide you with relevant products and information</li>
        <li>Inform you of product information, news, and promotions relevant to your business</li>
    </ul>

    <h3>Ways we collect your information:</h3>
    <p><em>At Registration and during the ordering process.</em> Before checking out, and even while placing some items in your shopping cart, Western Hotel Supply will require you to enter imprint information as well as an online registration form. During registration, you will be asked to give us your personal information including your name, shipping and billing address, phone number, payment information (credit card number) and email address.</p>
    <p>Additional information required may be your country of residence and your organization’s country of operation so that we can adhere to applicable laws and regulations. These pieces of information are used for billing, to complete orders and to speak with you regarding your order. They may also be used for Western Hotel Supply’s marketing purposes. If we have an issue with your order, we may use this information to contact you.
    </p>
    <p>A few locations on westernhotelsupply.com permit you to enter your email address for marketing and communication purposes. These are to sign up for email newsletters and special offers.
    </p>
    <p>Westernhotelsupply.com may contact you via email for transactional purposes if you have previously shared that contact information with us on our site, such as when subscribing to our email database, creating an account, or purchasing an item. These messages will be for transactional purposes only, such following up on an attempted purchase, and are in compliance with the CAN-SPAM Act.
    </p>
    <p>If you voluntarily subscribe to our Email Newsletter, you will receive monthly emails from us about new products, specials, tips and other promotions. If you are currently subscribed to our email newsletter list and would like to be removed, simply click the “Unsubscribe” link located in the email.
    </p>
    <p>We reserve the right to update this policy at any time.
    </p>
    <p>This policy pertains to user data collected and tracked online and does not pertain to information collected offline
    </p>
</section>