<nav class="nav visible-sm visible-xs">
    <span class="btn-group">
        <a class="btn btn-default" ng-class="{'active': isActive('addresses')}" href="faq">{{'FAQs' | r}}</a>
        <a class="btn btn-default" ng-class="{'active': isActive('message')}" href="returns">{{'Shipping & Returns' | r}}</a>
        <a class="btn btn-default" ng-class="{'active': isActive('terms')}" href="terms">{{'Terms & Conditions of Sale' | r}}</a>
        <a class="btn btn-default" ng-class="{'active': isActive('privacy')}" href="privacy">{{'Privacy & Security' | r}}</a>
    </span>
</nav>