<section>
    <h1 class="text-center">Terms and Conditions of Sale</h1>
    <h3>Limitations of Liability</h3>

    <p>In no event shall Western Printing Motel Supply Division Inc. DBA Western Hotel Supply (WHS) or any of its subsidiaries or affiliates be liable for any indirect, special, incidental or consequential damages including but not limited to loss of use, loss of data, loss of business or profits. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you. Some items may not comply with California Proposition 65.
</p>

    <h3>Prices</h3>

    <p>Prices are subject to change without notice. WHS is not responsible for typographical errors.</p>


    <h3>Sales and Use Tax</h3>

    <p>Customers purchasing from WHS and shipping to South Dakota, North Dakota, or Minnesota may have additional tax requirements. </p>


    <h3>Warranty Limitations</h3>

    <p>Except as specifically set forth therein, WHS makes no warranties, express or implied, and disclaims all other warranties, including without limitation implied warranties of merchantability, fitness for a particular purpose, and conformity to models or samples. Some states do not allow limitations on implied warranties so these limitations might not apply to you. The warranties set forth herein give you specific legal rights and you may have other rights that vary from state to state. Manufacturers' warranties for exported products may vary or may be null and void for products exported outside the United States.
    </p>

    <h3>Payment Terms</h3>

    <p>Terms of payment are within WHS's sole discretion, and unless otherwise agreed to by WHS, payment must be received by WHS prior to WHS's acceptance of an order. Payment for the products will be made by credit card, wire transfer, or some other prearranged payment method unless credit terms have been agreed to by WHS. Invoices are due and payable within the time period noted on the invoice, measured from the date of the invoice. WHS may invoice parts of an order separately. Orders are not binding upon WHS until accepted by WHS. Any quotations given by WHS will be valid for the period stated on the quotation. Customer agrees to pay interest on all past-due sums at the highest rate allowed by law.
</p>

    <h3>Shipping Charges/Taxes/Delivery</h3>

    <p>Separate charges for shipping and handling will be shown on WHS's invoice(s) if applicable. You are responsible for all applicable sales and other taxes associated with the order. If applicable, a separate charge for taxes will be shown on WHS's invoice. WHS will not be responsible for delays in delivery due to events beyond its control, including shortage of materials, labor strikes, transportation failures or acts of God.
</p>

    <h3>Title/Risk of Loss</h3>

    <p>When purchasing an item, title to products and risk of loss passes from WHS to you upon delivery to the carrier.
</p>

    <h3>Amendments/Applicable Law</h3>

    <p>These terms and conditions may be amended at any time by WHS. The laws of the State of South Dakota shall govern these Terms and Conditions.
</p>
</section>